	<section class="who">
    <h2>Who?</h2>
    
    <article>
      <p>I'm Sev Furneaux, a freelance digital designer and web developer based in London.</p>
    </article>
  </section>
  
  <section class="what">
    <h2>What?</h2>
    
    <article>
      <p>I've got over seven years experience pushing pixels, doodling with divs and laughing at lolcats.</p>
    </article>
  </section>
  
  <section class="where">
    <h2>Where?</h2>
    
    <article>
      <p>From <a href="http://www.tcolondon.com" title="The Church of London">The Church of London</a> to <a href="http://www.steer.me" title="Steer">Steer</a> and <a href="http://www.humanafterall.co.uk" title="Human After All">Human After All</a>, you'll usually find me hotdesking around East London. <br/>You can also find me on the internets at <a href="http://www.twitter.com/sevfurneaux">Twitter</a>, <a href="http://uk.linkedin.com/pub/sev-furneaux/22/873/b66">LinkedIn</a> <br/>or via <a href="mailto:sevfurneaux@gmail.com">email</a>.</p>
    </article>
  </section>
  
  <section class="recent-work">
    <h2>Recent Work</h2>
    
    <article>
      <p><a href="http://www.headspacegroup.co.uk">Headspace</a></p>
      <p><a href="http://www.gailsbread.co.uk">GAIL's Bakery</a></p>
      <p><a href="http://www.huckmagazine.com">Huck</a></p>
      <p><a href="http://www.littlewhitelies.co.uk">Little White Lies</a></p>
      <p><a href="http://www.tcolondon.com">The Church of London</a></p>
      <p><a href="http://www.surfaceview.co.uk">Surface View</a></p>
      <p><a href="http://www.byronhamburgers.com">Byron</a></p>
    </article>
  </section>
