	<section class="who">
    <h2>Who?</h2>

    <article>
			<p>I'm Sev Furneaux, a freelance designer and full stack developer based in London.</p>
    </article>
  </section>

  <section class="what">
    <h2>What?</h2>

    <article>
      <p>I've got over nine years experience working with <strong>startups</strong>, <strong>fashion</strong> and <strong>culture clients</strong>.</p>
    </article>
  </section>

  <section class="where">
    <h2>Where?</h2>

    <article>
      <p>You'll usually find me <a href="http://www.deskcamping.com">deskcamping</a> around East London. <br/>You can also find me on the internet at <a href="http://www.twitter.com/sevfurneaux">Twitter</a>, <a href="http://uk.linkedin.com/pub/sev-furneaux/22/873/b66">LinkedIn</a> <br/>or via <a href="mailto:sevfurneaux@gmail.com">email</a>.</p>
    </article>
  </section>

  <section class="recent-work">
    <h2>Recent Work</h2>

    <article>
			<p><a href="http://www.drakes.com">Drake's</a></p>
			<p><a href="http://www.carpenterswharf.com">Carpenters Wharf</a></p>
			<p><a href="http://anthology.london">Anthology</a></p>
      <p><a href="http://www.stackmagazines.com">Stack</a></p>
      <p><a href="http://www.deskcamping.com">Deskcamping</a></p>
      <p><a href="http://www.visuelle.co.uk">Visuelle</a></p>
      <p><a href="http://www.surfaceview.co.uk">Surface View</a></p>
      <p><a href="http://aeon.co">Aeon Magazine</a></p>
      <!-- <p><a href="http://www.byronhamburgers.com">Byron</a></p> -->
			<!-- <p><a href="http://www.the-report.net">The Report Company</a></p> -->
      <!-- <p><a href="http://www.gailsbread.co.uk">GAIL's Bakery</a></p> -->
      <!-- <p><a href="http://www.streethub.com">StreetHub</a></p> -->
      <!-- <p><a href="http://www.sampsonmay.com">SampsonMay</a></p> -->
      <!-- <p><a href="http://www.littlewhitelies.co.uk">Little White Lies</a></p> -->
			<!-- <p><a href="http://ideas.aeon.co">Aeon Ideas</a></p> -->
    </article>
  </section>
