<!DOCTYPE html>
<html>
<head>
  <title>Freelance digital designer and web developer | Severin Furneaux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" src="//use.typekit.net/vyn0xmf.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<header>    
	<h1><a href="http://severinfurneaux.co.uk" title="Severin Furneaux"><span>Severin Furneaux<span></a></h1>
</header>

<%= yield %>

</body>
</html>