<!DOCTYPE html>
<html>
<head>
  <title>Freelance digital designer and web developer | Sev Furneaux</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="Sev Furneaux is a freelance digital designer and web developer based in London.">
  <meta name="keywords" content="sev furneaux, severin furneaux, web design, design, web development, london">
	<!--<script type="text/javascript" src="//use.typekit.net/vyn0xmf.js"></script>!-->
	<!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>!-->
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-378480-9', 'severinfurneaux.com');
    ga('send', 'pageview');
  </script>
</head>
<body>

<header>
	<div class="logo">
		<img src="https://pbs.twimg.com/profile_images/494952063801884675/wSjKywNd.png" alt="Severin Furneaux">
	</div>
</header>

<%= yield %>

</body>
</html>
